
.outer {
  display: flex;
  width: min(1024px);
  margin: auto;
  gap: 10px;
}

.items {
  position: relative;
  flex: 1;
  transition: flex 0.5s ease-in-out;
  overflow: hidden;
}

.items p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  overflow: hidden;
  padding: 8px 16px;
  border-radius: 6px;
}


.items:hover {
  flex: 5;
}

.outer img {
  border-radius: 10px;
  height: 300px;
  width: 100%;
  object-fit: cover;
}





@media (max-width: 480px) {
  .outer {
    flex-direction: column;
    width: 100%;
    gap: 10px;
    padding: 10px;
  }

  .items {
    flex: none;
    width: 100%;
  
  }

  .items:hover {
    flex: none;
    transform: scale(1.02);
  }

  .outer img {
    height: 100px;
  }
}


@media (max-width: 340px) {
  .outer img {
    height: 180px;
  }
}





.ham{
    font-size: 40px;
    position:fixed;
    right: 0;
    top:0;
    visibility: hidden; 
    display: none;
}


.counter-container {
    position: relative;
    display: inline-block;
  }
  
  .counter-counter {
    display: flex;
    overflow: hidden;
    line-height: 1;
  }
  
  .counter-digit {
    position: relative;
    width: 1ch;
    font-variant-numeric: tabular-nums;
  }
  
  .counter-number {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .text-rotate {
    display: flex;
    flex-wrap: wrap;
    white-space: pre-wrap;
    position: relative;
  }
  
  .text-rotate-sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
  }
  
  .text-rotate-word {
    display: inline-flex;
  }
  
  .text-rotate-lines {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  
  .text-rotate-element {
    display: inline-block;
  }
  
  .text-rotate-space {
    white-space: pre;
  }
  