.course-card {
    position: relative;
    width: 90%;
    max-width: 360px;
    border-radius: 20px;
    overflow: hidden;
    color: #fff;
    /* box-shadow: 0 8px 25px rgba(0, 0, 0, 0.5); */
  }
  
  .bg-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }
  
  /* Gradient overlay */
  .overlay {
    position: absolute;
    inset: 0;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.6), rgba(0,0,0,0.1));
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem;
  }
  
  /* Top Section */
  .top-section {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  
  .user {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  
  .user img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid #fff;
  }
  
  .user-info {
    display: flex;
    flex-direction: column;
  }
  
  .name {
    font-weight: 600;
    font-size: 2rem;
  }
  

  
  
  .icons {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    font-size: 2rem;
  }
  .icons  a{
    color: #fff;
    

  }
  
  /* Middle content */
  .content {
    margin-top: auto;
  }
  
  .sessions {
    display: flex;
    align-items: center;
    gap: 4px;
    margin-bottom: 0.5rem;
  }
  
  
  .sessions p {
    font-size: 1rem;
    opacity: 0.9;
  }
  
  .live {
    background: #ff0048;
    border-radius: 10px;
    padding: 1px 6px;
    margin-left: 4px;
    font-size: 1rem;
  }
  
  h2 {
    font-size: 1.1rem;
    font-weight: 600;
  }
  
  /* Buttons */
  .buttons {
    display: flex;
    gap: 0.5rem;
    margin-top: 1rem;
  }
  
  .buttons button {
    flex: 1;
    border: none;
    padding: 0.6rem;
    border-radius: 12px;
    font-weight: 500;
    font-size: 1rem;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .join {
    background: rgba(255,255,255,0.5);
    color: #111;
  }
  
  .consult {
    background: rgba(13, 244, 1, 0.915);
    color: #111;
  }
  
  .join:hover {
    background: white;
  }
  
  .consult:hover {
    background: white;
  }
  
  /* Responsive for mobile */
  @media (max-width: 400px) {
    .course-card {
      max-width: 200px;
      margin-bottom: 20px;
    }
  
    .buttons button {
      font-size: 0.8rem;
      padding: 0.5rem;
    }
  
    h2 {
      font-size: 1rem;
    }
  }