.skills-section {
    padding: 60px 10%;
    text-align: center;
  }
  
  .section-title {
    font-size: 2.5rem;
    font-weight: 600;
    position: relative;
    display: inline-block;
    margin-bottom: 40px;
  }
  
  /* .section-title span {
    position: absolute;
    left: -50px;
    top: 50%;
    transform: translateY(-50%);
    width: 6px;
    height: 40px;
    background-color: #ffcc00;
    border-radius: 4px;
  } */
  
  .skills-grid {
    display: grid;
    
    grid-template-columns: repeat(auto-fit, minmax(150px, 2fr));
    gap: 30px;
    justify-items: center;
  }
  
  .skill-card {
    background: #161616;
    padding: 20px 20px;
    height: 100px;
    border-radius: 10px;
    transition: all 0.3s ease;
    box-shadow: 0 4px 10px rgba(0,0,0,0.4);
    width: 100px;
  
  }
  
  .skill-card:hover {
    transform: translateY(-10px);
    background-color: #1e1e1e;
  }
  
  .skill-card img {
    width: 60px;
    height: 60px;
    margin-bottom: 10px;
    object-fit: contain;
    
  }
  
  .skill-card p {
    font-size: 1rem;
    font-weight: 500;
    margin-top: 10px;
  }